.footer{
    height: 100px;
    width: 100%;
    padding: 0 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141B41;
    color: white;
}
.footer ul{
    display: flex;
    font-size: 18px;
}
.footer li{
    margin-right: 50px;
    font-weight: 100;
}
.footer li:last-child{
    margin-right: 0px;
}
.footer .btn{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 50px;
    border: 1px solid #E9ECF5;
    border-radius: 6px;
    font-size: 16px;
}
@media screen and (max-width:1250px) {
    .footer{
        flex-direction: column;
        width: 100%;
        padding: 40px 20px;
        height: fit-content;
    }
    .logo {
        margin-bottom: 40px;
    }
    .footer ul{

    }
    .footer li{
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .footer li:last-child{
        margin-bottom: 40px;

    }
    .menu-list{
        display: flex;
        flex-direction: column
    }
}