.header{
    height: 100px;
    width: 100%;
    padding: 0 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 999;
}
.burger-main{
    display: none;
}
.burger svg{
    display: none;
    width: 0px;
    height: 0px;
}
.header ul{
    display: flex;
    font-size: 18px;
}
.header li{
    margin-right: 50px;
    font-weight: 200;
}
.header li:last-child{
    margin-right: 0px;
}
.header .btn{
    color: #446DF6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 50px;
    border: 2px solid #E9ECF5;
    border-radius: 6px;
    font-size: 16px;
}

@media screen and (max-width: 1250px) {
    .header{
        height: 60px;
        padding: 0 20px;
        border-bottom: 1px solid #E9ECF5;
    }
    .header ul{
        display: none;
    }
    .header .btn{
        display: none;
    }
    .burger-main{
        height: 100%;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #E9ECF5;
    }
    .burger {
        display:block;
        color: #4d5675;
        width: 30px;
        height: 30px;
    }
}