.partners{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 135px;
    max-width: 1500px;
    margin: 0 auto;
}
.partners_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.partners_title h1{
    text-align: center;
    font-size: 32px;
}
.partners_title p{
    text-align: center;
    margin: 20px auto 50px;
    font-size: 18px;
    max-width: 900px;
    color: #72727E;
}
.partners_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partners_item{
    cursor: default;
    width: 210px;
    height: 200px;
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 14px 54px -14px rgba(34, 60, 80, 0.09);
    -moz-box-shadow: 0px 14px 54px -14px rgba(34, 60, 80, 0.09);
    box-shadow: 0px 14px 54px -14px rgba(34, 60, 80, 0.09);
}
.partners_item_icon{
    background-color: #F7F8FD;
    height: 60px;
    width: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners_item p{
    font-size: 16px;
    line-height: 22px;
    margin-top: 24px;
    text-align: center;
}
.partners .btn{
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #446DF6;
    border-radius: 6px;
    height: 60px;
    padding: 0 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}