.partners-modal{
    height: 100vw;
    width: 100%;
    z-index: 25;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
}
.partners-modal.active{
    display: flex;
}
.partners-modal__window{
    padding: 40px;
    height: 800px;
    width: 480px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #E9ECF5;
    border-radius: 10px;
}
.partners-modal__close svg{
    width: 26px;
    height: 26px;
    color: #72727E;
}
.partners-modal__close {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}
.partners-modal__title h1{
    font-size: 32px;
    color: #141B41;
    line-height: 40px;
    text-align: center;
}
.partners-modal__form{
    margin-top: 50px;
    margin-bottom: 60px;
}
.partners-modal__form__input__img{
    height: 100%;
    width: fit-content;
    padding: 23px;
}
.partners-modal__form__input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    border: #C0C0C0 1px solid;
}
.partners-modal__form__input input{
    border-left: #C0C0C0 1px solid;
    height: 64px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    color:#72727E; 
}
.partners-modal__form__input input::placeholder{
    color: #C0C0C0;
}

.partners-modal__form__input img{
    height: 18px;
    width: 18px;
}
.partners-modal__form__checkbox{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.partners-modal__form__checkbox input{
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.partners-modal__form__checkbox p{
    font-size: 18px;
    color:#72727E;
}
.partners-modal__form__check {
    margin-top: 60px;
    margin-bottom: 70px;
}
.partners-modal__form .btn{
    height: 60px;
    width: 250px;
    background-color: #446DF6;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (max-width:500px) {
    .partners-modal{
        height: 100vh;
        width: 100vw;
        z-index: 25;
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        transition-duration: 0.7s;
        background-color: rgb(255, 255, 255);
        z-index: 4;
    }
    .partners-modal.active{
        display: flex;
    }
    .partners-modal__window{
        margin-top: 100px;
        padding: 30px;
        height: 100%;
        width: 100%;
        border: 2px solid #E9ECF5;
        border-radius: 10px;
    }
    
    .partners-modal__close svg{
        width: 20px;
        height: 20px;
        color: #72727E;
    }
    .partners-modal__close {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 15px;
    }
    .partners-modal__title h1{
        font-size: 20px;
        color: #141B41;
        line-height: 30px;
        text-align: center;
    }
    .partners-modal__form{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .partners-modal__form__input__img{
        height: 100%;
        width: fit-content;
        padding: 23px;
    }
    .partners-modal__form__input{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 6px;
        overflow: hidden;
        border: #C0C0C0 1px solid;
    }
    .partners-modal__form__input input{
        border-left: #C0C0C0 1px solid;
        height: 64px;
        width: 100%;
        padding: 0 20px;
        font-size: 18px;
        color:#72727E; 
    }
    .partners-modal__form__input img{
        height: 18px;
        width: 18px;
    }
    .partners-modal__form__checkbox{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }
    .partners-modal__form__checkbox input{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    .partners-modal__form__checkbox p{
        font-size: 16px;
        color:#72727E;
    }
    .partners-modal__form__check {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .partners-modal__form .btn{
        height: 60px;
        width: 250px;
        background-color: #446DF6;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}