.reviews{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 135px;
    width: 100%;
    margin-bottom: 100px;
}
.reviews h1{
    font-size: 40px;
    color: #141B41;
    margin-bottom: 30px;
}
.reviews-text{
    font-size: 18px;
    color: #72727E;
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}
.reviews-text h1{
    max-width: 70%;
    font-size: 24px;
}
.reviews-text p{
    max-width: 70%;
    line-height: 25px;
    font-size: 18px;
}
.reviews-btns{
    display: flex;
    align-items:center;
}
.reviews-btns a{
    width: 50px;
    height: 50px;
    background-color: #F7F8FD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 20px;
}
.reviews-btns a.active{
    background-color: #446DF6;
    color: #fff;
}
.reviews-acc {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
.reviews-acc-img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-image: url(../imgs/bolvanka.png);
    margin-right: 30px;
}
.reviews-acc-text{
    display: flex;
    flex-direction: column;
}
.reviews-acc-text h1{
    font-size: 24px;
    margin: 0 0 10px;
}
.reviews-acc-text p{
font-size: 18px;
color: #72727E;
}
.reviews-btns-bottom{
    display: none;
}
#bottom {
    display: none;
}

@media screen and (max-width:1250px) {
    .reviews{
        max-width: 1500px;
        margin: 0 auto;
        padding: 40px 20px 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .reviews h1{
        font-size: 26px;
        margin-bottom: 30px;
        text-align: center;
    }
    .reviews-text{
        flex-direction: column;

    }
    .reviews-text h1{
    }
    .reviews-text p{
        font-size: 16px;
        line-height: 20px;
        max-width: 100%;
        text-align: center;
    }
    .reviews-btns a{
        margin: 0 20px;
    }
    .reviews-btns a.active{
    }
    .reviews-btns{
        display: none;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bottom {
        display: block;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .reviews-acc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8ee;
    }
    .reviews-acc-img{
        margin: 0 0 20px;
    }
    .reviews-acc-text{

    }
    .reviews-acc-text h1{
        text-align: center;
    }
    .reviews-acc-text p{
        text-align: center;
    }
}